$button-styles: 'secondary' $orange,
'warning' $red,
'continue' $green,
'disabled' $opaque;
$button-types: 'default',
'wire',
'subtle';
.button {
    border-radius: $radius;
    border: none;
    padding: rem(6) rem(10);
    color: #fff;
    font-size: rem(16);
    -webkit-appearance: none;
    background-color: $purple;
    position: relative;
    cursor: pointer;
    @each $style in $button-styles {
        &--#{nth($style, 1)} {
            background-color: #{nth($style, 2)};
        }
    }
}

.button-wire {
    @extend .button;
    color: $purple;
    background: none;
    @each $style in $button-styles {
        &--#{nth($style, 1)} {
            border: 2px solid #{nth($style, 2)};
            color: #{nth($style, 2)}
        }
    }
}

.button-subtle {
    @extend .button;
    color: $purple;
    background: none;
    @each $style in $button-styles {
        &--#{nth($style, 1)} {
            color: #{nth($style, 2)};
        }
    }
}

.floating-button {
    position: fixed;
    right: 10px;
    bottom: 90px;
    height: 60px;
    width: 60px;
    color: #fff;
    font-size: rem(24);
    border-radius: 50%;
    background-color: $green;
    box-shadow: $shadow;
    z-index: 10;
    &__content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}