.form {
    &--flex {
        display: flex;
    }
    &__label {
        display: block;
        margin-bottom: rem(6);
    }
    &__input {
        display: block;
        -webkit-appearance: none;
        border-radius: $radius-small;
        border: 1px solid $lightGrey;
        padding: rem(8) rem(10);
        margin-bottom: rem(10);
        &--textarea {
            width: 100%;
        }
        &--grow-1 {
            flex-grow: 1;
        }
        &--grow-0 {
            flex-grow: 0;
        }
    }
    &__select {
        border: 1px solid $lightGrey;
        padding: rem(8) rem(10);
        margin-bottom: rem(10);
    }
    &__control {
        display: flex;
        justify-content: flex-end;
        &__cancel {
            margin-right: rem(8);
        }
    }
}