$hamburger-color: $black;
$hamburger-bar: 2px;
$hamburger-spacing: 20%;
.hamburger {
    height: 40px;
    width: 40px;
    position: relative;
    &__inner {
        height: $hamburger-bar;
        width: 100%;
        position: absolute;
        background-color: $hamburger-color;
        top: $hamburger-spacing;
    }
    &::before {
        content: '';
        position: absolute;
        height: $hamburger-bar;
        background-color: $hamburger-color;
        width: 80%;
        bottom: 50%;
        transform: translateY(25%);
        right: 0;
    }
    &::after {
        content: '';
        position: absolute;
        height: $hamburger-bar;
        background-color: $hamburger-color;
        width: 60%;
        right: 0;
        bottom: $hamburger-spacing;
    }
    &--light {
        .hamburger__inner {
            background-color: $lightPurple;
        }
        &::before {
            background-color: $lightPurple;
        }
        &::after {
            background-color: $lightPurple;
        }
    }
}