.modal {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    width: 95%;
    max-height: 80%;
    overflow: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 80%);
    background-color: #fff;
    box-shadow: $shadow;
    z-index: 80;
    border-radius: $radius;
    transition: 400ms;
    &__close {
        position: absolute;
        right: 0;
        top: 0;
        font-size: rem(24);
        color: $grey;
        padding: rem(10);
        cursor: pointer;
    }
    &--enter-active,
    &--enter-done {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}