.modal {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 95%;
    max-height: 80%;
    overflow: auto;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0%);
    background-color: #fff;
    box-shadow: $shadow;
    z-index: 10;
    border-radius: $radius;
    transition: .4s;
    &__close {
        position: absolute;
        right: 0;
        top: 0;
        font-size: rem(24);
        color: $grey;
        padding: rem(10);
    }
    &--active {
        visibility: visible;
        opacity: 1;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.backdrop {
    opacity: 0;
    transition: opacity .4s;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    backdrop-filter: blur(2px);
    will-change: backdrop-filter;
    &--active {
        opacity: 1;
        background-color: $opaque;
        pointer-events: visible;
    }
}