.nav {
    position: relative;
    width: 100%;
    padding-top: rem(10);
    padding-bottom: rem(10);
    color: $black;
    .container {
        display: flex;
    }
    &__head {
        font-size: rem(34);
        flex-grow: 1;
    }
}