.project {
    margin-bottom: rem(10);
    &__head {
        display: flex;
        width: 100%;
        &__title {
            font-size: rem(24);
            flex-grow: 1;
        }
        &__assignees {
            flex-grow: 0;
        }
    }
    &__desc {
        margin-bottom: 0;
    }
    &__info {
        display: flex;
        align-items: center;
        font-size: rem(12);
        color: $grey;
        padding-top: rem(10);
        &__item {
            flex-grow: 1;
            // text-align: center;
            &--end {
                flex-grow: 0;
            }
        }
    }
    // Tasks
    &__tasks {
        transition: translateX;
        &__topbar {
            padding: rem(10) 0;
            display: flex;
            &__head {
                flex-grow: 1;
            }
        }
    }
    &__rule {
        margin-top: rem(20);
        margin-bottom: rem(20);
        border: none;
        background-color: $lightGrey;
        height: 1px;
    }
}